* {
  font-family: monospace;
  color: aliceblue;
  padding: 0;
  margin: 0;
}

body{
  background-color: black;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

/* Nav Bar Styles */
nav{
  padding: 10px;
  position: fixed;
  justify-self: anchor-center;
}
nav #myLinks{
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(51, 51, 49);
  padding: 10px 15px;
  border-radius: 50px;
}
nav a{
  padding: 5px;
  font-weight: 600;
  text-decoration: none;
  color: aliceblue;
  font-size: 1.5rem;
}
nav a:hover{
  background-color: rgb(75, 75, 73);
  border-radius: 10px;
}
nav #selected{
  background-color: rgb(78, 78, 76);
  border-radius: 10px;
}

/* Background Section Styles*/
.backgroundSection{
  display: block;
}
#clock{
  max-width: fit-content;
  max-height: fit-content;
  float: right;
}
#darkLight{
  max-width: fit-content;
  max-height: fit-content;
  float: left;
}
#aboutMe{
  margin-top: 30%;
  font-size: 3.2vw;
}
